<nb-card>
    <nb-card-header>
        Client profile
    </nb-card-header>

    <nb-card-body>
        <div class="row">
            <div class="col-2">
                <ngx-image-upload [image]="userImage" [role]="userRole"></ngx-image-upload>
            </div>
            <div class="col-4">
                <div class="form-group">
                    <label for="f1" class="label">XXXXXX</label>
                    <p id="f1">xxxxxxxxxxxxxxxxxxxxxx</p>
                </div>
                <div class="form-group">
                    <label for="f2" class="label">XXXXXX</label>
                    <p id="f2">xxxxxxxxxxxxxxxxxxxxxx</p>
                </div>
                <div class="form-group">
                    <label for="f2" class="label">XXXXXX</label>
                    <p id="f2">xxxxxxxxxxxxxxxxxxxxxx</p>
                </div>
            </div>
            <div class="col-3">
                <div class="form-group">
                    <label for="f1" class="label">XXXXXX</label>
                    <p id="f1">xxxxxxxxxxxxxxxxxxxxxx</p>
                </div>
                <div class="form-group">
                    <label for="f2" class="label">XXXXXX</label>
                    <p id="f2">xxxxxxxxxxxxxxxxxxxxxx</p>
                </div>
                <div class="form-group">
                    <label for="f2" class="label">XXXXXX</label>
                    <p id="f2">xxxxxxxxxxxxxxxxxxxxxx</p>
                </div>
            </div>
            <div class="col-3">
                <div class="form-group">
                    <label for="f1" class="label">XXXXXX</label>
                    <p id="f1">xxxxxxxxxxxxxxxxxxxxxx</p>
                </div>
                <div class="form-group">
                    <label for="f2" class="label">XXXXXX</label>
                    <p id="f2">xxxxxxxxxxxxxxxxxxxxxx</p>
                </div>
                <div class="form-group">
                    <label for="f2" class="label">XXXXXX</label>
                    <p id="f2">xxxxxxxxxxxxxxxxxxxxxx</p>
                </div>
            </div>


            <div class="col-3">
                <div class="form-group">
                    <label for="f1" class="label">XXXXXX</label>
                    <p id="f1">xxxxxxxxxxxxxxxxxxxxxx</p>
                </div>
                <div class="form-group">
                    <label for="f2" class="label">XXXXXX</label>
                    <p id="f2">xxxxxxxxxxxxxxxxxxxxxx</p>
                </div>
                <div class="form-group">
                    <label for="f2" class="label">XXXXXX</label>
                    <p id="f2">xxxxxxxxxxxxxxxxxxxxxx</p>
                </div>
            </div>
            <div class="col-3">
                <div class="form-group">
                    <label for="f1" class="label">XXXXXX</label>
                    <p id="f1">xxxxxxxxxxxxxxxxxxxxxx</p>
                </div>
                <div class="form-group">
                    <label for="f2" class="label">XXXXXX</label>
                    <p id="f2">xxxxxxxxxxxxxxxxxxxxxx</p>
                </div>
                <div class="form-group">
                    <label for="f2" class="label">XXXXXX</label>
                    <p id="f2">xxxxxxxxxxxxxxxxxxxxxx</p>
                </div>
            </div>
            <div class="col-3">
                <div class="form-group">
                    <label for="f1" class="label">XXXXXX</label>
                    <p id="f1">xxxxxxxxxxxxxxxxxxxxxx</p>
                </div>
                <div class="form-group">
                    <label for="f2" class="label">XXXXXX</label>
                    <p id="f2">xxxxxxxxxxxxxxxxxxxxxx</p>
                </div>
                <div class="form-group">
                    <label for="f2" class="label">XXXXXX</label>
                    <p id="f2">xxxxxxxxxxxxxxxxxxxxxx</p>
                </div>
            </div>
            <div class="col-3">
                <div class="form-group">
                    <label for="f1" class="label">XXXXXX</label>
                    <p id="f1">xxxxxxxxxxxxxxxxxxxxxx</p>
                </div>
                <div class="form-group">
                    <label for="f2" class="label">XXXXXX</label>
                    <p id="f2">xxxxxxxxxxxxxxxxxxxxxx</p>
                </div>
                <div class="form-group">
                    <label for="f2" class="label">XXXXXX</label>
                    <p id="f2">xxxxxxxxxxxxxxxxxxxxxx</p>
                </div>
            </div>
        </div>
    </nb-card-body>
</nb-card>
