<div class="row">
    <div class="col-md-12">
        <nb-card>
            <nb-card-header>
                Services
            </nb-card-header>
            <nb-card-body>
                <div class="row show-grid">

                    <div class="col-md-6 text-center mb-4">
                        <h3>Service 1</h3>
                        <hr>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Temporibus, expedita iusto veniam atque, magni tempora mollitia dolorum consequatur nulla, </p>
                        <button nbButton matRipple status="primary" outline (click)="startService(1)">
                          Start the service
                        </button>
                    </div>

                    <div class="col-md-6 text-center mb-4">
                        <h3>Service 2</h3>
                        <hr>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Temporibus, expedita iusto veniam atque, magni tempora mollitia dolorum consequatur nulla, </p>
                        <button nbButton matRipple status="primary" outline (click)="startService(2)">
                          Start the service
                        </button>
                    </div>

                    <div class="col-md-6 text-center mb-4">
                        <h3>Service 3</h3>
                        <hr>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Temporibus, expedita iusto veniam atque, magni tempora mollitia dolorum consequatur nulla, </p>
                        <button nbButton matRipple status="primary" outline (click)="startService(3)">
                          Start the service
                        </button>
                    </div>

                    <div class="col-md-6 text-center mb-4">
                        <h3>Service 4</h3>
                        <hr>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Temporibus, expedita iusto veniam atque, magni tempora mollitia dolorum consequatur nulla, </p>
                        <button nbButton matRipple status="primary" outline (click)="startService(4)">
                          Start the service
                        </button>
                    </div>

                </div>

            </nb-card-body>
        </nb-card>

    </div>
</div>
