@import '../../../../@theme/styles/themes';
@include nb-install-component() {
    nb-card {
        margin-top: 30px;
        max-height: 600px;
    }
}

.newuser {
    width: 190vh;
}

.srh {
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
}

.col-2,
.col-3,
.col-4 {
    padding-right: 3px !important;
    padding-left: 3px !important;
}

.status-success {
    line-height: 1.5rem !important;
}