<div class="row">
    <div class="col-md-12">
        <nb-card>
            <nb-card-header>
                Counters
            </nb-card-header>
            <nb-card-body>
                <div class="row text-center">
                    <div *ngFor="let counter of counters" class="col-3">
                        <p>
                            <ng-container *ngIf="counter.status; else elseimg">
                                <img src="/assets/images/t-desk.png" width="100">
                            </ng-container>
                            <ng-template #elseimg>
                                <img src="/assets/images/desk.png" width="100">
                            </ng-template>

                            <span class="cona">{{ counter.name }}</span>
                        </p>
                        <div class="loader">
                            <ngx-loader-dots *ngIf="counter.status"></ngx-loader-dots>
                        </div>
                        <span class="c-no">{{ counter.ticket }}</span>
                    </div>

                </div>

            </nb-card-body>
        </nb-card>

    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <nb-card>
            <nb-card-header>Add to the queue</nb-card-header>
            <nb-card-body>
                <form (ngSubmit)="print()" #form="ngForm">
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <label for="inputservice" class="label">Service</label>
                                <nb-select fullWidth id="inputservice" selected="1" [(ngModel)]="service" name="service">
                                    <nb-option value="1">service 1</nb-option>
                                    <nb-option value="2">service 2</nb-option>
                                </nb-select>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="text-right" nbButton status="primary">Submit</button>
                </form>
            </nb-card-body>
        </nb-card>
    </div>
    <div class="col-md-8">
        <nb-card>
            <nb-card-header>Next Numbers</nb-card-header>
            <nb-card-body>
                <div class="row">
                    <div class="col-md-3">
                        <div class="nxtn1">
                            <span> 27 </span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="nxtn2">
                            <span> 28 </span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="nxtn3">
                            <span> 29 </span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="nxtn4">
                            <span> 30 </span>
                        </div>
                    </div>
                </div>
            </nb-card-body>
        </nb-card>
    </div>
</div>
