<div class="row">
    <div class="col-md-12">
        <nb-card>
            <nb-card-header>
                Counters
            </nb-card-header>
            <nb-card-body>
                <div class="row show-grid">
                    <div class="col-md-3">
                        <h2>C. No.1</h2>
                        <span class="counter"> Serving Now</span>
                        <h1>26</h1>
                    </div>
                    <div class="col-md-3">
                        <h2>C. No.2</h2>
                        <span class="counter"> Serving Now</span>
                        <h1>18</h1>
                    </div>
                    <div class="col-md-3">
                        <h2>C. No.3</h2>
                        <span class="counter"> Serving Now</span>
                        <h1>21</h1>

                    </div>
                    <div class="col-md-3">
                        <h2>C. No.4</h2>
                        <span class="counter"> Serving Now</span>
                        <h1>22</h1>
                    </div>
                </div>

            </nb-card-body>
        </nb-card>

    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <nb-card>
            <nb-card-header>Add to the queue</nb-card-header>
            <nb-card-body>
                <form>
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <label for="inputservice" class="label">Service</label>
                                <nb-select fullWidth id="inputservice" selected="1">
                                    <nb-option value="1">service 1</nb-option>
                                    <nb-option value="2">service 2</nb-option>
                                </nb-select>
                            </div>
                        </div>
                    </div>
                    <button type="submit" nbButton status="primary">Submit</button>
                </form>
            </nb-card-body>
        </nb-card>
    </div>
    <div class="col-md-8">
        <nb-card>
            <nb-card-header>Next Numbers</nb-card-header>
            <nb-card-body>
                <div class="row">
                    <div class="col-md-3">
                        <div class="nxtn1">
                            <span> 27 </span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="nxtn2">
                            <span> 28 </span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="nxtn3">
                            <span> 29 </span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="nxtn4">
                            <span> 30 </span>
                        </div>
                    </div>
                </div>
            </nb-card-body>
        </nb-card>
    </div>
</div>