<nb-card>
    <nb-card-header>
        Client service Info
    </nb-card-header>

    <nb-card-body>
        <div class="row table-striped text-center">
            <div class="col-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Service</th>
                            <th scope="col">Date</th>
                            <th scope="col">Update Date</th>
                            <th scope="col">Config</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Service 1</td>
                            <td>00/00/0000</td>
                            <td>00/00/0000</td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Service 2</td>
                            <td>00/00/0000</td>
                            <td>00/00/0000</td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>Service 3</td>
                            <td>00/00/0000</td>
                            <td>00/00/0000</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </nb-card-body>
</nb-card>
