<div class="newuser row">
    <div class="col-12">
        <nb-card>
            <nb-card-header>
                New Employee
            </nb-card-header>
            <nb-card-body>
                <form>
                    <div class="row">
                        <div class="col-2">
                            <ngx-image-upload [image]="userImage" [role]="userRole"></ngx-image-upload>
                        </div>

                        <div class="col-3">
                            <div class="form-group">
                                <label for="fn" class="label">First Name</label>
                                <input type="text" nbInput fullWidth id="fn" placeholder="First Name">
                            </div>
                            <div class="form-group">
                                <label for="ln" class="label">Last Name</label>
                                <input type="text" nbInput fullWidth id="ln" placeholder="Last Name">
                            </div>
                        </div>

                        <div class="col-3">
                            <div class="form-group">
                                <label for="email" class="label">E-mail</label>
                                <input type="email" nbInput fullWidth id="email" placeholder="E-mail">
                            </div>
                            <div class="form-group">
                                <label for="pnum" class="label">Phone Number</label>
                                <input type="text" nbInput fullWidth id="pnum" placeholder="Phone Number">
                            </div>
                        </div>

                        <div class="col-3">
                            <div class="form-group">
                                <label for="address" class="label">Address</label>
                                <input type="text" nbInput fullWidth id="address" placeholder="Address">
                            </div>
                            <div class="form-group">
                                <label for="section" class="label">Section</label>
                                <nb-select fullWidth id="section" selected="1">
                                    <nb-option value="1">Section 1</nb-option>
                                    <nb-option value="2">Section 2</nb-option>
                                </nb-select>
                            </div>
                        </div>

                        <div class="col-3">
                            <div class="form-group">
                                <label for="inputField3" class="label">Field</label>
                                <nb-select fullWidth id="inputField3" selected="1">
                                    <nb-option value="1">Field 1</nb-option>
                                    <nb-option value="2">Field 2</nb-option>
                                </nb-select>
                            </div>
                            <div class="form-group">
                                <label for="inputField4" class="label">Field</label>
                                <nb-select fullWidth id="inputField4" selected="1">
                                    <nb-option value="1">Field 1</nb-option>
                                    <nb-option value="2">Field 2</nb-option>
                                </nb-select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 md-5 text-right">
                            <button type="submit" nbButton status="primary">Add</button>
                        </div>
                    </div>

                </form>
            </nb-card-body>
        </nb-card>
    </div>
</div>