<nb-card>
    <nb-card-header>
        Clients

        <!-- <div class="add">
            <button nbButton matRipple status="primary" outline (click)="newClient()">
              <i class="nb-plus"></i>
            </button>
        </div>

        <div class="srh">
            <nb-search type="column-curtain"></nb-search>
        </div> -->
        <div class="conf">
            <nb-actions size="small">
                <nb-action matRipple icon="search-outline"></nb-action>
                <nb-action matRipple icon="plus-outline" (click)="newClient()"></nb-action>
            </nb-actions>
        </div>
    </nb-card-header>

    <nb-card-body>
        <div class="row table-striped text-center">
            <div class="col-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">First Name</th>
                            <th scope="col">Last Name</th>
                            <th scope="col">Email</th>
                            <th scope="col">Config</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Name 1</td>
                            <td>Name 2</td>
                            <td>email@email.com</td>
                            <td>
                                <nb-actions size="small">
                                    <nb-action matRipple icon="expand-outline" (click)="showClient(1)"></nb-action>
                                    <nb-action matRipple icon="edit-outline" (click)="editClient(1)"></nb-action>
                                    <nb-action matRipple icon="menu-outline" (click)="serviceClient(1)"></nb-action>
                                </nb-actions>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Name 1</td>
                            <td>Name 2</td>
                            <td>email@email.com</td>
                            <td>
                                <nb-actions size="small">
                                    <nb-action matRipple icon="expand-outline" (click)="showClient(2)"></nb-action>
                                    <nb-action matRipple icon="edit-outline" (click)="editClient(2)"></nb-action>
                                    <nb-action matRipple icon="menu-outline" (click)="serviceClient(2)"></nb-action>
                                </nb-actions>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>Name 1</td>
                            <td>Name 2</td>
                            <td>email@email.com</td>
                            <td>
                                <nb-actions size="small">
                                    <nb-action matRipple icon="expand-outline" (click)="showClient(3)"></nb-action>
                                    <nb-action matRipple icon="edit-outline" (click)="editClient(3)"></nb-action>
                                    <nb-action matRipple icon="menu-outline" (click)="serviceClient(3)"></nb-action>
                                </nb-actions>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </nb-card-body>
</nb-card>