<nav class="navbar fixed-top navbar-light bg-light">
    <a class="navbar-brand" href="#">
        <img src="/assets/logo/logo.png" width="40" height="40" class="d-inline-block align-top" alt="">
        <span class="logo-text">HGE Application</span>
    </a>
</nav>
<!-- Section: Design Block -->
<section class="background-radial-gradient overflow-hidden">
    <div class="container px-4 py-5 px-md-5 text-lg-start my-5">
        <div class="row gx-lg-5 mb-5">
            <div class="col-lg-8 mb-5 mb-lg-0" style="z-index: 10">

                <h1 class="display-5 fw-bold ls-tight">
                    <span style="color: hsl(218, 81%, 95%); font-size: 1.5em;"> Herzlich Willkommen</span><br/>
                    <span style="color: hsl(218, 81%, 75%); font-size: 0.8em;">We provide best the services just to meet your needs</span>
                </h1>

                <div class="row align-items-center text-center">
                    <div class="col-6">
                        <h2>Service 1</h2>
                        <i class="fab fa-building-columns"></i>
                        <p class="mb-4 opacity-70" style="color: hsl(218, 81%, 85%)">
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Temporibus, expedita iusto veniam atque, magni tempora mollitia dolorum consequatur nulla,
                        </p>
                    </div>
                    <div class="col-6">
                        <h2>Service 2</h2>
                        <i class="fab fa-money-check-pen"></i>
                        <p class="mb-4 opacity-70" style="color: hsl(218, 81%, 85%)">
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Temporibus, expedita iusto veniam atque, magni tempora mollitia dolorum consequatur nulla,
                        </p>
                    </div>
                    <div class="col-6">
                        <h2>Service 3</h2>
                        <i class="fab fa-briefcase-blank"></i>
                        <p class="mb-4 opacity-70" style="color: hsl(218, 81%, 85%)">
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Temporibus, expedita iusto veniam atque, magni tempora mollitia dolorum consequatur nulla,
                        </p>
                    </div>
                    <div class="col-6">
                        <h2>Service 4</h2>
                        <i class="fab fa-shield"></i>
                        <p class="mb-4 opacity-70" style="color: hsl(218, 81%, 85%)">
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Temporibus, expedita iusto veniam atque, magni tempora mollitia dolorum consequatur nulla,
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 mb-5 mb-lg-0 position-relative">
                <div id="radius-shape-1" class="position-absolute rounded-circle shadow-5-strong"></div>
                <div id="radius-shape-2" class="position-absolute shadow-5-strong"></div>

                <div class="card bg-glass">
                    <div class="card-body px-4 py-5 px-md-5">
                        <form>

                            <!-- Email input -->
                            <div class="form-outline mb-4">
                                <label class="form-label" for="name">Name</label>
                                <input type="email" id="name" class="form-control" />
                            </div>

                            <!-- Email input -->
                            <div class="form-outline mb-4">
                                <label class="form-label" for="email">Email address</label>
                                <input type="email" id="email" class="form-control" />
                            </div>

                            <!-- Password input -->
                            <div class="form-outline mb-4">
                                <label class="form-label" for="password">Password</label>
                                <input type="password" id="password" class="form-control" />
                            </div>

                            <!-- Password input -->
                            <div class="form-outline mb-4">
                                <label class="form-label" for="confpwd">Confirm Password</label>
                                <input type="password" id="confpwd" class="form-control" />
                            </div>

                            <!-- Checkbox -->
                            <div class="form-check d-flex justify-content-left mb-4">
                                <label class="form-check-label" for="form2Example33">Remember Me</label>
                                <input class="form-check-input me-2" type="checkbox" value="" id="form2Example33" checked />
                            </div>

                            <!-- Submit button -->
                            <button type="submit" class="btn btn-primary btn-block mb-4">Register</button> You have an account?
                            <a class="register mb-4" [routerLink]="['/auth/login']">Login</a>

                            <!-- Register buttons -->
                            <p>Follow us on:</p>
                            <div class="text-center">
                                <button type="button" class="btn btn-link btn-floating mx-1">
                                <i class="fab fa-facebook-f"></i>
                              </button>

                                <button type="button" class="btn btn-link btn-floating mx-1">
                                <i class="fab fa-twitter"></i>
                              </button>

                                <button type="button" class="btn btn-link btn-floating mx-1">
                                <i class="fab fa-instagram"></i>
                              </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Section: Design Block -->