<nb-card>
    <nb-card-header>
        Clients

        <div class="conf">
            <nb-actions size="small">
                <nb-action matRipple icon="search-outline" nbTooltip="Search for Client" nbTooltipPlacement="bottom"></nb-action>
                <nb-action matRipple icon="plus-outline" (click)="newClient()" nbTooltip="Add new Client" nbTooltipPlacement="bottom"></nb-action>
            </nb-actions>
        </div>
    </nb-card-header>

    <nb-card-body>
        <div class="row table-striped">
            <div class="col-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">First Name</th>
                            <th scope="col">Last Name</th>
                            <th scope="col">Email</th>
                            <th scope="col">Config</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Name 1</td>
                            <td>Name 2</td>
                            <td>email@email.com</td>
                            <td>
                                <nb-action matRipple icon="menu-outline" (click)="showClient(1)" nbTooltip="View this Client Info" nbTooltipPlacement="bottom"></nb-action>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Name 1</td>
                            <td>Name 2</td>
                            <td>email@email.com</td>
                            <td>
                                <nb-action matRipple icon="menu-outline" (click)="showClient(2)" nbTooltip="View this Client Info" nbTooltipPlacement="bottom"></nb-action>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>Name 1</td>
                            <td>Name 2</td>
                            <td>email@email.com</td>
                            <td>
                                <nb-action matRipple icon="menu-outline" (click)="showClient(3)" nbTooltip="View this Client Info" nbTooltipPlacement="bottom"></nb-action>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </nb-card-body>
</nb-card>