<div class="row ticket">
    <div class="col-12">
        <nb-card>
            <nb-card-header>
                Ticket Info
            </nb-card-header>
            <nb-card-body>
                <div id="ticket">
                    <div class="col-12 text-center">
                        <span class="thk">Thank you for your visit</span>
                    </div>

                    <div class="row">
                        <div class="col-4 text-right">
                            <img src="/assets/logo/logo.png" width="60" height="60" alt="">
                        </div>
                        <div class="col-8">
                            <span class="ti">HGE-QUEUE</span>
                            <span class="sbti">Title</span>
                        </div>
                    </div>

                    <div class="row text-center">
                        <div class="col-12">
                            <div class="form-group">
                                <span class="tk-s">Ticket No:</span>
                                <span class="tikno">000</span>
                                <br>
                                <span class="tk-ss">Waiting Customers</span>
                                <p id="tk-p">000000</p>
                                <span class="tk-ss">Date:
                                  <p id="tk-p">000000</p>
                                </span>
                                <span class="tk-ss">Served By:
                                  <p id="tk-p">xxxxxxxxxx</p>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </nb-card-body>
            <nb-card-footer>
                <div class="row">
                    <div class="col-12 text-right">
                        <button nbButton matRipple status="danger" (click)="cancel()">Cancel</button>
                        <button nbButton matRipple status="success" (click)="print()">Print</button>
                    </div>
                </div>
            </nb-card-footer>
        </nb-card>
    </div>
</div>
